.menu_top {
	width: 100%;
	height: 3%;
	text-align: center;
	margin-top: 6%;
	color: white;
	border-bottom: #ccc 2px solid;
}

#width_left {
	background: #ffffff;
	width: 280px;
	padding-right: 10px;
	margin-top: 40px;
}

#stationSelect .layui-input {
	border-bottom: 1px solid #cccccc;
	border-radius: 0 10px 10px 0;
}

#divTree::-webkit-scrollbar {
	display: none;
}

#left_mean_body {
	border: solid 1px #cccccc;
	border-radius: 0 10px 10px 0;
	height: auto;
}

#sType {
	padding: 10px 0px 10px 20px;
	height: 20px;
}

#sType li {
	display: block;
	float: left;
	cursor: pointer;
	border-bottom: 1px solid #7fa7fe;
	color: #7fa7fe;
	margin-right: 37px;
}

#stationType {
	margin-top: 16px;
	max-height: 600px;
	overflow-y: scroll;
}

#stationType::-webkit-scrollbar {
	width: 0;
	height: 0;
}

#stationType li {
	min-height: 32px;
	height: auto;
	line-height: 32px;
	font-size: 16px;
	text-indent: 20px;
	vertical-align: middle;
}

.common_img {
	width: 15px;
	height: 15px;
	float: right;
	margin-right: 20px;
	margin-top: 8px;
}

#stationType li:hover {
	background: #7fa7fe;
	cursor: pointer;
}

.liL1 {
	background-color: #7fa7fe;
}

#mainBody {
	position: fixed;
	right: 10px;
}

ul.layui-tab-title li:first-child i {
	display: none;
}

.layui-this {
	background: white;
}

#formDiv, #pointDiv, #taskDiv {
	position: fixed;
	border: 1px #ccc solid;
	bottom: 50px;
	margin-left: 10px;
	background: white;
	border-radius: 5px;
	width: 450px;
	bottom: 50px;
	display: none;
	z-index: 3;
}

.layui-input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.layui-form-label {
	width: 120px;
}

#formTop {
	width: 100%;
	height: 40px;
	background: #4472ca;
	border-radius: 5px;
	margin-bottom: 10px;
	line-height: 40px;
	font-size: 16px;
	color: white;
}

#formTop span:FIRST-CHILD {
	margin-left: 1em;
}

#formTop span:LAST-CHILD {
	float: right;
	font-size: 20px;
	margin-right: 26px;
	cursor: pointer;
}

#formTop img {
	width: 15px;
	height: 15px;
	margin-left: 15px;
}

.ulStyle {
	display: none;
	height: 30px;
}

.ulStyle li {
	width: auto;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.ulStyle li:FIRST-CHILD {
	border-bottom: solid 1px #ccc;
}

.liStyle {
	position: relative;
	width: 70px;
	background: url("../images/putDown.png") no-repeat right center;
	color: #666;
	font-size: 14px;
}

.liStyle:hover {
	position: relative;
	width: 70px;
	background: url("../images/putUp.png") no-repeat right center;
	cursor: pointer;
}

.liStyle:hover .ulStyle {
	position: absolute;
	top: 20px;
	width: 100px;
	height: auto;
	background: white;
	display: block;
	cursor: pointer;
}

.tableTitle {
	height: 40px;
	width: auto;
	line-height: 40px;
	font-size: 16px;
	padding-left: 1em;
}

#stationType li a {
	display: inline-block;
	width: 80%;
}

.areaStyle {
	width: 100%;
	background: white;
	text-indent: 0;
	font-size: 14px;
}

.areaStyle_img {
	margin-right: 0;
}

.form_img {
	width: 15px;
	height: 15px;
	vertical-align: middle;
}