#mapDiv {
	width: 100%;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0px;	
}

#mianBody {
	position: fixed;
	z-index: 2;
	top: 110px;
	width: 100%;
}

.top {
	position: relative;
	width: 400px;
	height: 40px;
	background-image: url("../images/searchbg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 2;
}

.top_2 {
	position: relative;
	width: 360px;
	height: 100%;
	line-height: 100%;
	text-align: center;
	margin-left: 20px;
}

.top_2_li {
	float: left;
	width: 40px;
	height: 40px;
	position: relative;
}

.top_2 li img {
	width: 100%;
	height: 100%;
}

.left_bottom {
	position: relative;
	z-index: 3;
	color: white;
	font-size: 16px;
	height: 100%;
	width: 100%;
}

.left_bottom_1{
	height: 80%;
	background: white;
	width: 100%;
}

.left_bottom_1 ul{
	height: 40px;
	background: #2a4c7c;
}

.left_bottom_1 ul li{
	float: left;
	margin-right: 10px;
	height: 40px;
	line-height: 40px;
	width: auto;
	display: block;
	padding-right: 1em;
	padding-left: 1em;
}

.left_bottom_1 ul li:LAST-CHILD{
	float: right;
	cursor: pointer;
	padding-right: 0;
	font-size: 20px;
}

.left_bottom_1 ul li:not(:LAST-CHILD):hover{
	border-bottom: 2px solid #7fa7fe;
	cursor: pointer;
}

.left_bottom_1 div{
	height: 90%;
	color: black;
	text-align: center;
}

.right_bottom {
	position: relative;
	z-index: 3;
	color: white;
	font-size: 16px;
	height: 100%;
	width: 100%;
}

.right_bottom_1{
	height: 80%;
	background: white;
	width: 100%;
}

.right_bottom_1 ul{
	height: 40px;
	background: #2a4c7c;
}

.right_bottom_1 ul li{
	float: left;
	margin-right: 10px;
	height: 40px;
	line-height: 40px;
	width: auto;
	display: block;
	padding-right: 1em;
	padding-left: 1em;
}

.right_bottom_1 ul li:LAST-CHILD{
	float: right;
	cursor: pointer;
	padding-right: 0;
	font-size: 20px;
}

.right_bottom_1 ul li:not(:LAST-CHILD):hover{
	border-bottom: 2px solid #7fa7fe;
	cursor: pointer;
}

.right_bottom_1 div{
	height: 90%;
	color: black;
	text-align: center;
}