#mapDiv {
	width: 100%;
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;	
}

#mianBody {
	position: relative;
}

.left_top {
	position: relative;
	top: 2%;
	z-index: 3;
	left: 0.5%;
	color: white;		
	width: auto;
	height: auto;
	min-height: 40px;
	min-width: 430px;
	font-size: 18px;
	background-image: url("../images/t4.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.left_top_2 {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 100%;
	text-align: center;
	z-index: 4;
	top: 5%;
}

.left_top_2 li {
	float: left;
	width: 12.5%;
	height: 100%;
}

.left_top_3 {
	margin-top: -1.5%;
}

.right_top {
	position: relative;
	top: 2%;
	z-index: 3;
	color: white;
	font-size: 18px;	
	width: auto;
	height: auto;
	min-height: 40px;
	min-width: 290px;
	font-size: 18px;
	background-image: url("../images/searchbg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.right_top_1 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 20%;
	left: 5%;
	
}

.right_top_2 {
	position: absolute;
	left: 16%;
	top: 0%;
	BACKGROUND-COLOR: transparent;
	height: 100%;
	width: 78%;
	border: 0px;
}

.right {
	position: relative;
	z-index: 3;
	width: auto;
	min-height: 57%;
	height: auto;
	float: right;
	color: white;
	font-size: 18px;
}

.right ul{
	position: relative;	
	width: auto;
	height: auto;
}

.right ul li{
	position: relative;	
	width: 80px;
	height: 50px;
	left: 10px;
}

.right ul li img{
	width: 100%;
	height: 100%;
}

.elongation {
	right: 10px;
}

.right_bottom{
	position: relative;
	z-index: 3;
	color: white;
	font-size: 18px;
	width: auto;
	min-height: 260px;
	height: auto;
	background-image: url("../images/vedio_bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 30px 10px 10px 10px;
}

.right_bottom_1 img:nth-child(1) {
	position: absolute;
	color: white;
	width: 2.5%;
	height: 5%;
	right: 2%;
	top: 3.5%;
}

.right_bottom_2{
	position: relative;
	font-size: 18px; 
	width: 100%;
	min-height: 260px;
	height: 98%;
	z-index: 5;
	color: black;
}

.right_bottom_2 img{
	position: relative;
	width: 100%;
	height: 100%;
}