<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<mappers>
		<mapper resource="config/base.xml" />
		<mapper resource="config/base/baseDict.xml" />
		<mapper resource="config/sys/userInfo.xml" />
		<mapper resource="config/staff/staff.xml" />
		<mapper resource="config/sys/station.xml" />
		<mapper resource="config/sys/role.xml" />
		<mapper resource="config/sys/module.xml" />	
		<mapper resource="config/duty/arrangeInfo.xml" />
		<mapper resource="config/duty/shiftType.xml" />
		<mapper resource="config/duty/vw_allPoint.xml" />		
		<mapper resource="config/point/pointInfo.xml" />
		<mapper resource="config/point/pointInfoDevice.xml" />	
		<mapper resource="config/device/deviceInfo.xml" />	
		<mapper resource="config/device/cameraInfo.xml" />	
		<mapper resource="config/report/report.xml" />	
	</mappers>
</configuration>
